html {
  font-size: 62.5%; /*16px * 62.5 = 10px=1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* layout */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: black;
}

main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: black;
  color: white;
}

/* common */
a {
  text-decoration: none;
}
a:hover {
  color: tomato;
}
h1 {
  margin: 0;
  font-size: 2rem;
  padding: 1rem 0;
}
h2 {
  margin: 0;
  font-size: 1.8rem;
  padding: 1rem 0;
}

/* header */
header a {
  color: white;
  padding: 1rem;
}
a.branding {
  font-size: 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

/* image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

/* card */
.card {
  border: 0.1rem white solid;
  background-color: thistle;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  /*all direct child of card-body*/
  margin-bottom: 0.5rem;
}
.price {
  font-size: 1.6rem;
}
.rating span {
  font-size: 1.4rem;
}
